.game_container {
    display: flex;
    position: relative;

    .label {
        left: 0;
        top: 50%;
        right: 0;
        display: flex;
        font-size: 32px;
        position: absolute;
        justify-content: center;
        transform: translateY(-50%);

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    .score {
        top: 6px;
        right: 10px;
        text-align: right;
        position: absolute;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.canvas {
    border: 1px solid black;
}